@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background: linear-gradient(45deg, #8500ff, #5acaff);
    height: 100vh;
}

#not-found-container {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
#not-found-container .content{
    max-width: 600px;
    text-align: center;
}

#not-found-container .content i{
    font-size: 15em;
    padding-bottom: 25px;
    color: #fff;
}
#not-found-container .content h2{
    font-size: 18em;
    color: #fff;
    line-height: 1em;
}
#not-found-container .content h4{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}
#not-found-container .content p{
    font-size: 0.6em;
    color: #fff;
}
#not-found-container .content a{
    position: relative;
    color: #2196f3;
    display: inline-block;
    padding: 10px 25px;
    letter-spacing: 4px;
    font-size: 24px;
    margin-top: 25px;
    transition: 0.4s;

}
#not-found-container .content a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 15px;
}
#not-found-container .content img{
    height : 300px;
    width : 370px;
}

@media only screen and (min-width: 1000px) {
    #not-found-container .content img {
        height: 700px;
        width: 1000px;
    }

    
    #not-found-container .content i {
        font-size: 20em;
        padding-bottom: 25px;
        color: #fff;
    }

    #not-found-container .content h2 {
        font-size: 20em;
        color: #fff;
        line-height: 1em;
    }
    #not-found-container .content p {
        font-size: 1.2em;
        color: #fff;
    }

    #not-found-container .content a {
        position: relative;
        color: #2196f3;
        display: inline-block;
        padding: 10px 25px;
        letter-spacing: 4px;
        font-size: 24px;
        margin-top: 25px;
        transition: 0.4s;
    }

}